<div class="container-fluid">

    <div class="fs-5 mt-4 font-w-500">
        Experience
    </div>
    <div class="my-3">
        <div class="d-flex">
            <div class="rounded-2 d-flex bg-white align-items-center justify-content-center org-logos">
                <img src="tcs_logo.png" class="img-fluid"/>
            </div>
            <div class="ms-2">
                <div style="font-weight: 500;">
                    Tata Consultancy Services
               </div>
               <div class="text-small">Apr 2023 - Present &nbsp;·&nbsp; 2 yrs 2 mos</div>
            </div>
        </div>
    </div>
    <div class="border-start">
        <div class="ps-2 ms-1">
            <div class="font-w-500">Systems Engineer</div>
            <div class="text-small">Apr 2023 - Present &nbsp;·&nbsp; 2 yrs 2 mos</div>
            <div class="mt-2 text-small">
                Working on Spring, Angular 17
                I am responsible for adding new features to the site.
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center">
        <div class="opacity-25" style="margin-left: -0.175rem;">•</div>
        <div class="bg-white w-75 ms-2 opacity-25" style="height: 1px;"></div>
    </div>

    <div class="border-start">
        <div class="pt-2 ps-2 ms-1">
            <div class="font-w-500">Assistant System Engineer</div>
            <div class="text-small">Apr 2023 - Apr 2024 &nbsp;·&nbsp; 2 yrs 2 mos</div>
            <div class="mt-2 text-small">
                Working on Spring, Angular 17
                I am responsible for adding new features to the site.
            </div>
        </div>
    </div>


    <div class="d-flex align-items-center">
        <div class="opacity-25" style="margin-left: -0.175rem;">•</div>
        <div class="bg-white w-75 ms-2 opacity-25" style="height: 1px;"></div>
    </div>

    <div class="border-start">
        <div class="pt-2 ps-2 ms-1">
            <div class="font-w-500">Graduate Trainee</div>
            <div class="text-small">Apr 2023 - Apr 2024 &nbsp;·&nbsp; 2 yrs 2 mos</div>
            <div class="mt-2 text-small">
                Working on Spring, Angular 17
                I am responsible for adding new features to the site.
            </div>
        </div>
    </div>

    <hr class="my-4"/>
    <div class="fs-5 font-w-500">
        Education
    </div>
    
    <div class="my-3">
        <div class="d-flex">
            <div class="rounded-2 d-flex bg-white align-items-center justify-content-center org-logos">
                <img src="sppu_logo.jpg" class="img-fluid p-1"/>
            </div>
            <div class="ms-2">
                <div style="font-weight: 500;">
                    Savitribai Phule Pune University
               </div>
               <div class="text-small">June 2017 - June 2022 &nbsp;·&nbsp; 2 yrs 2 mos</div>
            </div>
        </div>
    </div>

    <div class="border-start">
        <div class="ps-2 ms-1">
            <div class="font-w-500">Master In Computer Science</div>
            <div class="text-small">Apr 2023 - Apr 2024 &nbsp;·&nbsp; 2 yrs 2 mos</div>
            <div class="text-small">CGPA 9.6</div>
        </div>
    </div>

    <div class="d-flex align-items-center">
        <div class="opacity-25" style="margin-left: -0.175rem;">•</div>
        <div class="bg-white w-75 ms-2 opacity-25" style="height: 1px;"></div>
    </div>

    <div class="border-start mb-4">
        <div class="pt-2 ps-2 ms-1">
            <div class="font-w-500">Bachelor In Computer Science</div>
            <div class="text-small">June 2017 - May 2020 &nbsp;·&nbsp; 2 yrs 2 mos</div>
            <div class="text-small">CGPA 7.6</div>
        </div>
    </div>

</div>